@model ALBERT.Models.Order

<div>
    <h4>Order #@Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Table Number</dt>
        <dd class="col-sm-10">@Model.Table.TableNumber</dd>

        <dt class="col-sm-2">Customer</dt>
        <dd class="col-sm-10">@Model.Customer.Name (@Model.Customer.Phone)</dd>

        <dt class="col-sm-2">Total Amount</dt>
        <dd class="col-sm-10">LKR @Model.TotalAmount.ToString("N2")</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Status</dd>

        <dt class="col-sm-2">Order Date</dt>
        <dd class="col-sm-10">@Model.OrderDate.ToString("yyyy-MM-dd HH:mm")</dd>
    </dl>
</div>

<h4>Order Items</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Subtotal (LKR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.MenuItem.Name</td>
                <td>@item.Quantity</td>
                <td>LKR @item.Subtotal.ToString("N2")</td>
            </tr>
        }
    </tbody>
</table>